doctype html
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/main.css')
    <script src="https://kit.fontawesome.com/e282d961ad.js" crossorigin="anonymous"></script>
  body
    div.modal-overlay
      div.modal-dialog
        div.modal-content-container
          div.trailer-to-rate Film Name
          div.rating-control-container
            i#star-rating-1.fas.fa-star.fa-6x.star(onclick="handleStarClick(this)")
            i#star-rating-2.fas.fa-star.fa-6x.star(onclick="handleStarClick(this)")
            i#star-rating-3.fas.fa-star.fa-6x.star(onclick="handleStarClick(this)")
          div.confirm-cancel-button-container
            span.dialog-button(onclick="sendRating()") Confirm
            span.dialog-button(onclick="hideRatingDialog()") Cancel
    header.main-header
      h1.main-title= title
      nav.page-nav
        a(href="/trailers-to-watch")
          span Trailers to Watch
        a(href="/shortlist")
          span Shortlist
        span Admin
    block content
    script(src="/javascripts/trailersToWatch.js")