extends layout

block content
  div.trailers-to-watch-container
    each trailer in trailers_found
      div.trailer-container
        a(href=trailer.trailerLink target="_blank")
          img.trailer-image(src=trailer.imageURL)
        div.trailer-text-container
          div.trailer-title
            h2= trailer.titleUnencoded
          div.trailer-tags= trailer.tags
          button.rate-button Rate Film