body {
    background-color: var(--background-main);
}

.main-header {
    color: var(--header-text-color);
}

.main-header__title {
    text-align: center;
    font-size: 3em;
}

.main-header__page-nav {
    display: flex;
    justify-content: space-evenly;
    color: var(--header-text-color);
}
  
 