* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--header-text-color);
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}