.shortlist-star {
    padding: 0 5px;
}

.rating--gold {
    color: gold;
}

.rating--silver {
    color: silver;
}

.rating--bronze {
    color: #CD7F32;
}

.shortlisted-film-container {
    margin: 1px 0px;
}

.main-information-container {
    display: flex;
    background: var(--background-main);
}

.shortlisted-film-title {
    flex: 1 0;
}

.shortlisted-trailer-rating {
    font-size: 11px;
    flex: 0 1 auto;
}

.other-information-container {
    display: none;
}

.shortlist-image {
    width: 200px;
    display: block;
}

.show-other-information {
    display: flex;
}