.trailer-to-rate {
    font-size: 2em;
    text-align: center;
}

.trailers-to-watch-container {
    margin: 0px 20px;
}

.trailer {
    display: flex;
    margin: 10px 0px;
    background-color: var(--background-light-color);
}

.trailer__title {
    padding-bottom: 5px;
}
  
.trailer__image {
    width: 300px;
    display: block;
}
  
.trailer__text {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
  
.trailer__tags {
    flex: 1 0;
}
  
.trailer__rate-button {
    background-color: var(--accent-color);    
}