:root {
    /* global variables here */
    /* colours */
    --background-main: black;
    --header-text-color: white;
    --background-light-color: white;
    --background-dark-highlight-color: #24212c;
    --accent-color: #6e8b76;
    /* global font sizes? */
    /* paddings */
    /* margins */
  }